.apresentação{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    gap: 0px 150px;
    display: grid;
    max-width: 2000px;
    align-items: center;
    margin: 0 auto;
}

.apresentação-texto h1{
    font-size: 13ch;
    margin: 0px;
    position: relative;
}

.apresentação-texto h1::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background: url("/img/detalhe.svg") no-repeat center;
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -60px
}

.apresentação-texto p{
    font-size: 3.7ch;
    margin-top: 40px;
}

@media (max-width: 800px){
    .apresentação{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
    }

    .apresentação h1{
        font-size: 7ch;
    }

    .apresentação-texto h1::before{
        width: 40px;
        height: 20px;
        top: -10px;
        left: 3px;
    }

    .apresentação-texto p{
        font-size: 2.5ch;
    }
}